*{
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    display: flex;
}

.card-illustration>img{
    height: 100vh;
}

.card>.front-card-item, .card>.back-card-item{
    position: absolute;
    width: max-content;
}

.card>.front-card-item:first-child{
  top: 15vh;
  left: 160px;
}

.card>.back-card-item{
    top: 55vh;
    left: 200px;
}

.front-card-item>svg{
    position: absolute;
    top: 10px;
    left: 10px;
}

.front-card-item{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card-details{
    position: absolute;
    bottom: 20px;
    font-weight: 500;
    width: 400px;
    color: white;
}

#main-mobile-background{
    display: none;
}


#card-name{
    width: 70%;
}

.card-details>span{
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.card-details-item{
    margin-top: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.15em;
    display: flex;
}

#expiry-date{
    width: 30%;
}

.back-card-item>small{
    font-size: 1.05em;
    position: absolute;
    right: 50px;
    top: 110px;
    color: white;
}

main{
    background-color: rgb(255, 255, 255);
    width: 70vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#complete-display{
    color: black;
}

form>small{
    color: hsl(278, 68%, 11%);
    font-weight: 500;
    margin-bottom: -10px;
}

form{
    display: flex;
    flex-direction: column;
    width: 25vw;
}

button{
    border-radius: 10px;
    background-color: hsl(278, 68%, 11%);
    border: none;
    height: 45px;
    color: white;
}

input{
    height: 43px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid hsl(270, 3%, 87%);
    font-size: 18px;
    padding-left: 10px;
    color: hsl(278, 68%, 11%);
    font-weight: 500;
}

input:focus{
    outline: 2px solid blue;
}

input::placeholder{
    font-size: 15px;
    text-align: left;
}

input[name="Month"]{
    width: 7vw;
}

input[name="Year"]{
    width: 7vw;
}

.form-item-exp{
    width: fit-content;
}

.form-item-exp>small{
    color: hsl(278, 68%, 11%);
    font-weight: 500;
}

.form-item-cvc{
    width: fit-content;
}

.form-item-cvc>input{
    width:90px;
}

.form-item-cvc>small{
    color: hsl(278, 68%, 11%);
    font-weight: 500;
}

.form-item{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#complete-display{
    color: black;
    display: none;
    flex-direction: column;
    align-items: center;
}

#complete-display>button{
    width: 25vw;
}

.warning-format,.form-item-cvc>.warning-format,.form-item-exp>.warning-format{
    display: none;
    margin-top: -10px;
    margin-bottom: 10px;
    color: hsl(0, 100%, 66%);
}


@media screen and (max-width:845px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #main-background{
        display: none;
    }

    .card-illustration>img{
        height: 35vh;
        width: 100vw;
    }

    #main-mobile-background{
        display: block;
    }

    .card>.front-card-item:first-child{
        z-index: 100;
        top: 170px;
        left: 20px;
    }

    .back-card-item{
        display:block;
    }

    .front-card-item>img{
        width: 80vw;
    }
      
    .card>.back-card-item{
        top: 50px;
        left: 60px;
    }

    .back-card-item>img{
        width: 80vw;
    }

    .card-details>span{
        font-size: 1.4em;
        letter-spacing: 2px;
        margin-bottom: 10px;
        position: absolute;
        left: 60px;
        top: -50px;
    }
    
    .card-details-item{
        margin-top: 10px;
        width: 100%;
        text-transform: uppercase;
        font-size: 1.15em;
        display: flex;
    }

    .front-card-item>svg{
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .card-details-item{
        width: 80%;
        position: absolute;
        left: 60px;
        top: -20px;
    }
    
    main{
        margin-top: 90px;
        width: 100vw;
        height: 60vh;
    }

    form>small{
        color: hsl(278, 68%, 11%);
        font-weight: 500;
        margin-bottom: 10px;
    }

    form{
        width: 90%;
        height: 90%;
    }

    input[name="Month"]{
        width: 25vw;
        margin-bottom: 50px;
    }
    
    input[name="Year"]{
        width:25vw;
    }

    #card-cvc{
        position: absolute;
        top: 80px;
        left: 260px;
        width: fit-content;
    }

    #complete-display{
        margin-top: -90px;
        color: black;
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
}